.App {
  text-align: center;
}

body {
  /* background-color: #f8f9fa; */
  /* CSS untuk menambahkan background image */
    background-image: url('../public/bg30.png');
    /* background-image: url('../public/bg2.jpg'); */
    /* Ganti 'background.jpg' dengan path atau URL gambar latar belakang Anda */
    background-size: cover;
    /* Untuk memastikan gambar latar belakang mencakup seluruh halaman */
    background-repeat: no-repeat;
    /* Agar gambar latar belakang tidak diulang */
    background-attachment: fixed; /* Opsional: agar gambar tetap saat scrolling */
    background-position: center;
    background-color: #6CAFFF;
}


/* Membuat footer selalu berada di bawah halaman */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* background-color: #1833B8; */
  /* background-color: #1A2D93; */
  background-color: #040d3f;
  color: white; /* Ganti dengan warna teks yang Anda inginkan */
  text-align: center;
  padding: 9px 0; /* Ruang di atas dan bawah teks dalam footer */
}

/* Gaya tautan sosial media */
.sosial-media a {
  font-size: 12px;
  color: white; /* Warna teks tautan */
  text-decoration: none; /* Menghilangkan garis bawah tautan */
  margin-right: 10px; /* Ruang antara tautan */
  /* display: flex; */
  align-items: center;
}

.sosial-media a:hover{
  color: rgb(255, 0, 0);
}

.website a {
  font-size: 12px;
  color: white;
  text-decoration: none; 
  /* margin-right: 10px;  */
  /* display: flex; */
  align-items: center;
}

.website a:hover{
  color: rgb(255, 0, 0);
}

.table>:not(caption)>*>* {
  padding: 1px 8px;
}

.container-fluid {
  min-height: 93vh; /* Set tinggi minimal menjadi tinggi viewport */
  position: relative;
}